!! URxvt

! Text & Spacing
! URxvt.font:xft:             RobotoMono Nerd Font:pixelsize=12:antialias=true
! URxvt.boldFont:xft:         RobotoMono Nerd Font:bold:pixelsize=12:antialias=true
! URxvt.font:xft:             JetBrainsMono NF:pixelsize=14:antialias=true
! URxvt.boldFont:xft:         JetBrainsMono NF:bold:pixelsize=12:antialias=true
URxvt.font:xft:             Hack NF:pixelsize=12:antialias=true
! URxvt.boldFont:xft:         Hack NF:bold:pixelsize=12:antialias=true
URxvt.letterSpace:			0
URxvt.lineSpace:			0
URxvt.geometry:				124x32
URxvt.internalBorder:		24

! Scroll bar
URxvt.scrollBar:			false
URxvt.scrollBar_right:		false
URxvt.cursorBlink:          true

!! Config

! ISO off
URxvt.iso14755:				off

! Scrolling
URxvt*scrollTtyOutput:		false
URxvt*scrollWithBuffer:		true
URxvt*scrollTtyKeypress:	true

! Open & Highlight URL
URxvt*perl-ext-common:		default,matcher
URxvt*urlLauncher:			/usr/bin/xdg-open
URxvt*matcher.button:		1
URxvt*colorUL:				white
URxvt*underlineColor:		white

!! Keybindings

! Shift
! Selecting conflict
URxvt*keysym.S-Up:			\033[1;2A
URxvt*keysym.S-Down:		\033[1;2B
URxvt*keysym.S-Right:		\033[1;2C
URxvt*keysym.S-Left:		\033[1;2D

! Shift+Control
! Selecting conflict
URxvt*keysym.S-C-Up:		\033[1;6A
URxvt*keysym.S-C-Down:		\033[1;6B
URxvt*keysym.S-C-Right:		\033[1;6C
URxvt*keysym.S-C-Left:		\033[1;6D

!! Transparency

! depth
urxvt*.depth:		32
urxvt*.transparent:	false
urxvt*.background: [80]#121214

!! Color Scheme

! special
*.foreground:   #e2e0de
*.background:   #171316
*.cursorColor:  #e2e0de

! black
*.color0:       #653c4c
*.color8:       #623245

! red
*.color1:       #90a4d5
*.color9:       #7e9ce2

! green
*.color2:       #a199bc
*.color10:      #ab9dda

! yellow
*.color3:       #c88798
*.color11:      #cf768d

! blue
*.color4:       #8c9fb2
*.color12:      #84a7c9

! magenta
*.color5:       #dda9a9
*.color13:      #d39090

! cyan
*.color6:       #40e1ce
*.color14:      #1ac6b2

! white
*.color7:       #e2e0de
*.color15:      #d3d0cc