# sudo x11vnc -storepasswd some-passwd /etc/x11vnc.pwd
# sudo chown user:user-group /etc/x11vnc.pwd
# sudo cp x11vnc.service /etc/systemd/system/
# sudo systemctl enable x11vnc

[Unit]
Description=VNC Server for X11
Requires=display-manager.service
After=syslog.target network-online.target
Wants=syslog.target network-online.target

[Service]
User=your-user
Group=your-user-group
ExecStart=/usr/bin/x11vnc -display :0 -rfbauth /etc/x11vnc.pwd -shared -forever
ExecStop=/usr/bin/x11vnc -R stop
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
